/* Global declarations */

* {
    font-family: sans-serif !important;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 50px;
}

/* Styling for the header */

.header, .header-cont,
.right-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color:#1F3927;
    color: white;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header-cont {
    flex-basis: 950px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.yellow-text {
    font-family: 'Courier New' !important;
    font-size: 20px;
    color: yellow;
}

.red-text {
    font-family: Helvetica !important;
    font-size: 20px;
    color: red;
    font-weight: 800;
}

.blue-text {
    font-family: Helvetica !important;
    font-size: 20px;
    color: blue;
    font-weight: 800;
}

.green-text {
    font-family: Helvetica !important;
    font-size: 20px;
    color: green;
    font-weight: 800;
}

/* Style hover effects on links */

.right-links ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.right-links ul li:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}

.right-links ul li:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
}


/* Styling body container */
.body-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Styling screen-1 section */

.body-sc1-cont {
    display: flex;
    flex-direction: column;
    background-color: darkolivegreen;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    flex: 1;
}

.sub-sc1-cont,
.body-sc1,
.body-sc1-ls,
.body-sc1-rs {
    display: flex;
    flex-direction: row;
}

.sub-sc1-cont {
    color: white;
    margin: 0;
    padding: 0px;
    justify-content: center;
    gap: 5px;
}

.body-sc1 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    justify-content: center;
    gap: 10px;
    flex-basis: 600px;
}

.body-sc1-ls {
    flex: 1 1 60%;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.body-sc1-rs {
    flex: 1 1 40%;
    justify-content: flex-start;
    align-items: center;
}

.body-sc1-text-lg {
    font-size: 23px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-basis: 300px;
}

button {
    padding: 10px 30px;
    border-radius: 8px;
}

button.signup {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.sc1-button-ct {
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

/* Game body section */

.game-cont {
    background-color: aliceblue;
    display: flex;
    flex: 1;
}

.game-sub-cont {
    display: flex;
}

/* Styling Screen-4 section: End game */

.body-sc3-cont {
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.sub-sc3-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body-sc3-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
    flex-basis: 600px;
}

.body-sc3-ls {
    flex: 1 1 40%;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.body-sc3-rs {
    flex: 1 1 60%;
    justify-content: flex-start;
    align-items: center;
}

.body-sc3-text-lg {
    color: white;
    font-size: 23px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-basis: 300px;
}

.body-sc3-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
}

/* Styling of the footer */
.footer {
    background-color:#1F3927;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15px;
}

/* -- Styling buttons -- */

button.click-play,
button.click-play-again,
button.click-quit {
    display: inline-block;
    background: royalblue;
    border: 3px solid white;
    color: white;
    padding: 10px 40px;
    font-size: medium;
}

button.click-quit {
    background: indianred;
}

button.click-play-again {
    background-color: steelblue;
}

.spacer{
    display: inline-block;
    min-width: 10px;
    padding: 20px 20px;
}


/* --       Styling for other properties        -- */
ul {
    /* Removes the dots on the list items  */
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a {
    /* Removes the line under the links */
    font-size: 12px;
    text-decoration: none;
    color: gray;
}